header {
    text-align: center;
    margin-bottom: 30px;
}

footer {
    text-align: center;
    font-style: italic;
    margin-top: 20px
}

#map_canvas {
    width: 600px;
    height: 400px;
}

#main {
    display:block;
    margin:auto;
    width:1000px;
    padding:25px;
    background-color:#eeeeee;
}

fieldset {
    margin-bottom:25px;
}

button {
    float:right;
}
