body {
    overflow:scroll;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    text-align: center;
    padding:1px;
    background-color: #239CD3;
    color: white;

}

nav {
    margin: auto;
    margin-bottom: 5px;
    width: 1000px;
    background-color: #5D606E; 
    color: white;
}

nav ul {
    list-style: none;
    
}

nav ul li{
    display: inline-block;
    font-size:20px;
    margin: 10px 20px 10px 20px;
}

footer {
    text-align: center;
    font-style: italic;
    margin-top: 20px
}

#map_canvas {
    width: 600px;
    height: 400px;
}

#main {
    display:block;
    margin:auto;
    width:1000px;
    padding:25px;
    background-color:#eeeeee;
}

#thumbnails {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
    overflow-x: auto;
    white-space: nowrap;
}

#galleryContainer {
    background-color: black;
    padding: 10px;
    width: 800px;
}

#sliderContainer {
    position: relative;
}

#photoContainer {
    background-color: black;
    width: 800px;
    height: 600px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

#photoContainer img {
    display: block;
    margin: auto;
}

#loader {
    position:absolute;
    left:50%; 
    top:50%; 
    margin:-15px 0 0 -15px;
}

#thumbnails li {
    display: inline-block;
}

#thumbnails img {
    border: 3px solid black;
    cursor: pointer;
}
    
#thumbnails .active {
    border: 3px solid green;
}
    
.galleryButton {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 50%;
    margin-top: -34px;
}

#nextButton {
    right: 30px;
}

#previousButton {
    left: 30px;
} 

#photoDescr {
    font-size: 15px;
    text-align: center;

    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    border-radius: 2px;
    bottom: 0;
    color: #FFFFFF;
    font-weight: bold;
    left: 0;
    padding: 25px 13px 13px;
    position: absolute;
    right: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}

fieldset {
    margin-bottom:25px;
}

#sortable {
    list-style:none;    
}

.photo {
    border:1px solid #aaaaaa;
    padding:15px;
    margin-top:5px;
    background-color:#dddddd;
}

#criteria_search {
    width: 300px;
}

table {
    border-collapse:collapse;
    margin:auto;
}

thead {
    background-color:#aaaaaa;
    color:#ffffff;
}

td {
    padding:10px;
}

#house_list {
    margin-top:20px;
    text-align:center;
}

#house_list th {
    border:1px solid #aaaaaa;
    padding:10px;
    font-size:120%;
}

#house_list td {
    border:1px solid #aaaaaa;
    padding:10px;
}

#furniture p {
    display:inline-block;
    /* margin-right:30px; */
}

fieldset {
    margin-top:20px;
    background-color:#ffffff;
    border: 2px solid #239CD3;
    border-radius:5px;
}

legend {
    font-size:120%;
    border-radius:5px;
    padding:3px;
    background-color:#239CD3;
    color:#efefef;
}
